@charset "ISO-8859-1";

body{
	background-color: lightBlue;
	font-family: verdana;
}

h2{
	color: darkBlue;
	text-align: center;
}

p{
	font-family: verdana;
	font-size: 20px;
}

a{
	font-family: verdana;
	font-size: 20px;
	color: black;
	text-align: center;
}

